.promise-button.loading {

  .loading-text {
    text-transform: capitalize;
    margin-left: 10px;
    &::after {
      content: "...";
    }
  }

  .promise-button-spinner {
    display: none;
  }

}

.promise-button.ready {
  .promise-button-content {
    display: none; 
  }
}